<!DOCTYPE html>
<html>
  <head>
    <title>TournamentManagment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Управление турниром</h1>
    <h3>Список команд COPY/PAST</h3>
    <p>* Lakers
* Boston Celtics
* Brooklyn Nets
* New York Knicks
* Philadelphia 76ers
* Toronto Raptors
* Chicago Bulls
* Milwaukee Bucks
* Miami Heat
* Minnesota Timberwolves
* Utah Jazz
* Golden State Warriors
* Phoenix Suns
* Sacramento Kings
* Dallas Mavericks
* Houston Rockets</p>
    
    <%= yield %>
  </body>
</html>
